/*https://coolors.co/721817-fa9f42-2b4162-0b6e4f-e0e0e2*/
body {
    background-color: #e7e7e7;
    color: #362207;
    font-family:  'Uchen', serif;
}

a {
    color: #FA9F42;
    text-decoration: none;
    text-shadow: #ffffff 1px 0 10px;
}

a > h2 {
    color: #FA9F42;
}

button {
    font-family:  'Uchen', serif;
    background-color: #00724e;
    box-shadow: 5px 5px 5px gray;
    color: #F8F1F1;
    border: none;
    padding: 6px;
    margin: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #FA9F42;
}
