body {
    background-image:url(../../background-img/driveway.jpg);
background-origin: border-box;
background-clip: border-box;
background-size: cover;
}
/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(105, 68, 0, 0.5)), */

#splash-page {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(105, 68, 0, 0.5)),
        url(../../background-img/driveway.jpg);
    background-origin: border-box;
    background-clip: border-box;
    background-size: cover; */
    /* background-position:center; */
}

.form-box {
    /* border: 1px solid darkgrey; */
    width: 400px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
}

.auth-head {
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ranch-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-form label {
    margin: 10px;
}

label > input {
    margin-left: 10px;
}

label > select {
    margin-left: 10px;
}

.auth-form > button {
    margin-left: 20px;
    margin-bottom: 20px;
}
