#splash-background {
    background-image: url(../../background-img/driveway.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

#splash-page {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.form-box {
    width: 400px;
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #721817;
}

.auth-head {
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ranch-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-form label {
    margin: 10px;
}

label > input {
    margin-left: 10px;
}

label > select {
    margin-left: 10px;
}

.auth-form > button {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 3px;
}

#login {
    margin-right: 5px;
}

#signup {
    margin-left: 5px;
}
