nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-li {
    list-style-type: none;
    background-color: white;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-li > button {
    background-color: transparent;
    border: none;
}
