.under-nav {
    margin: 70px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranch-dashboard {
    background-color: rgb(255, 255, 255);
    border: 5px solid #2B4162;
    display: grid;
    grid-template-areas: "one one"
                            "two three"
                            "four four";
}

#dashboard-one {
    grid-area: one;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 5px solid #2B4162;
}

#dashboard-two {
    grid-area: two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 5px solid #2B4162;
}

#bookings-grid {
    display: flex;
    flex-direction: row;
}

.dash-booking-summary {
    padding: 5px;
    text-align: center;
    border: 1px solid #2B4162;
    margin: 5px;
}

#dashboard-three {
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 5px solid #2B4162;
}

#invoice-grid-bottom {
    display: flex;
    flex-direction: row;
}

.existing-invoice-render {
    padding: 5px;
    text-align: center;
    border: 1px solid #2B4162;
    margin: 5px;
    background-color: white;
}

#dashboard-four {
    grid-area: four;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 5px solid #2B4162;
}

.dashboard-p {
    margin-left: 10px;
    margin-right: 10px;
}

#ranch-detail {
    text-align: center;
    border: 5px solid #2B4162;
    background-color: white;
    padding: 20px;
}

#add-edit-cabin-js {
    margin-top: 70px;
    display: grid;
    grid-template-areas: "left right";
    column-gap: 5%;
}

#add-cabin-form {
    grid-area: left;
    margin-left: 100px;
}

.cabin-form-box {
    width: 400px;
    height: 330px;
    margin-top: 120px;
    background-color: white;
    color: #721817;
    border: 1px solid #2B4162;
}

.all-cabin-view {
    grid-area: right;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabin-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid #2B4162;
}

#cabin-list, #cabin-deets {
    list-style-type: none;
}

.cabin-thumbnail {
    max-width: 400px;
    height: auto;
}

.cabin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cabin-form label {
    margin: 10px;
}

.cabin-form > button {
    margin: auto;
    margin-bottom: 20px;
}

.invoice-boolean > p {
    display: inline;
}

#ranch-details-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1606471136721-eda4cfd18a88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    /* https://unsplash.com/photos/_6hL8jhBOaY Photo by Stefano Zocca */
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
}

#ranch-home-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1625484570264-1fcd6a550ee7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1836&q=80);
    /* https://unsplash.com/photos/FpyS8MQv-WQ Photo by Annie Spratt */
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
    background-position: top 70% right 0%;
}

#all-invoices-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1610915823695-cd5b5537253c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1646&q=80);
    /* https://unsplash.com/photos/xag269bwzVo Photo by Deon van Zyl */
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
}

#create-invoice-js {
    /* margin-top: 70px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../background-img/sunrise.jpeg);
    /* photo my own */
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
    background-position: top 40% right 0%;
}

#booking-overview {
    padding: 5px;
    text-align: center;
    border: 1px solid #2B4162;
    margin: 15px;
    background-color: white;
}

#create-invoice-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    background-color: white;
    border: 1px solid #2B4162;
    margin: 15px;
    padding: 10px;
}

#create-invoice-form label {
    margin: 10px;
}

#invoice-amt {
    margin: 10px;
}

label > input {
    margin-left: 10px;
}

label > select {
    margin-left: 10px;
}

#create-invoice-form > button {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 3px;
}
