.under-nav {
    margin: 70px 25px;
}

.ranch-dashboard {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid #5F685A;
    display: grid;
    grid-template-areas: "one one"
                            "two three"
                            "four four";
}

#dashboard-one {
    grid-area: one;
    display: flex;
    justify-content: center;
    border: 5px solid #5F685A;
}

#dashboard-two {
    grid-area: two;
    display: flex;
    justify-content: center;
    border: 5px solid #5F685A;
}

#dashboard-three {
    grid-area: three;
    display: flex;
    justify-content: center;
    border: 5px solid #5F685A;
}

#dashboard-four {
    grid-area: four;
    display: flex;
    justify-content: center;
    border: 5px solid #5F685A;
}

.dashboard-p {
    margin: 20px;
}

#cabin-deets {
    list-style-type: none;
}

.cabin-thumbnail {
    max-width: 400px;
    height: auto;
}

.cabin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cabin-form label {
    margin: 10px;
}

.cabin-form > button {
    margin: auto;
    margin-bottom: 20px;
}
