.under-nav {
    margin: 70px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
}

h1, h2, h4 {
    color: #721817;
}

.guest-dashboard {
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid #2B4162;
    display: grid;
    grid-template-areas: "one one"
                            "two three"
                            "four four";
}

.guest-dashboard h3 {
    margin-right: 10px;
}

.dashboard-header {
    margin-left: 50px;
}

#dashboard-one {
    grid-area: one;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#dashboard-two {
    grid-area: two;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

#dashboard-three {
    grid-area: three;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

#dashboard-four {
    grid-area: four;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.dashboard-header {
    padding-left: 30px;
}

#my-reviews-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1606471136721-eda4cfd18a88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    /* https://unsplash.com/photos/_6hL8jhBOaY Photo by Stefano Zocca */
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
}

.info-display {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
}

.info-entry {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: 5px solid #2B4162;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-p {
    margin: 20px;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result {
    display: grid;
    grid-template-areas: "image text"
                        "image text";
    padding: 10px;
    width: 600px;
}

.search-result-avatar {
    width: 300px;
    grid-area: image;
}

.search-result-text {
    grid-area: text;
}

.ranch-profile {
    display: grid;
    grid-template-areas: "picture booking"
                        "description reviews"
                        "second-desc reviews";
    margin: 25px;
}

.ranch-profile-pic {
    grid-area: picture;
    max-width: 700px;
    height: auto;
}

.ranch-profile-pic > img {
    max-width: 100%;
}

.ranch-profile-booking-header {
    grid-area: booking;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form-dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.booking-form-dates > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.booking-form > label {
    padding: 5px;
}

.ranch-profile-description {
    grid-area: description;
    padding: 10px;
}

.ranch-profile-details {
    grid-area: second-desc;
    padding: 10px;
}

.ranch-profile-reviews {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.review-thumbnail {
    padding: 10px;
}

.invoice-list {
    display: flex;
    flex-wrap: wrap;
}

#my-invoice-background {
    background-image: url(../../background-img/fade-background.jpg);
    /* https://unsplash.com/photos/_6hL8jhBOaY Photo by Stefano Zocca */
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

#my-invoice-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pay-invoice-modal-content {
    background-color: white;
    padding: 20px;
}

.amount-due {
    color: rgb(190, 3, 3);
}

#bookings-page-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1606471136721-eda4cfd18a88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    /* https://unsplash.com/photos/_6hL8jhBOaY Photo by Stefano Zocca */
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-origin: border-box;
}

#guest-home-js {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guest-home-background {
    background-image: url(https://images.unsplash.com/photo-1606471136721-eda4cfd18a88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    /* https://unsplash.com/photos/_6hL8jhBOaY Photo by Stefano Zocca */
    background-size: cover;
    position: relative;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    /* width: 100vw;
    height: 100vh; */
    /* background-origin: border-box; */
}
